<li class="chat-list__item chat-item">
    <img class="chat-item__avatar" />
    <div class="chat-item__person">
        <p class="chat-item__name">First name</p>
        <p class="chat-item__message">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    </div>
    <div class="chat-item__info">
        <p class="chat-item__time">15:12</p>
        <p class="chat-item__unread">4</p>
    </div>
</li>