@import "/public/assets/styles/variables.scss";

.form__button {
    cursor: pointer;
    border: 0;
    outline: none;

    background-color: transparent;
    color: $primary;

    font-size: 11px;

    &--primary {
        font-size: 13px;
        font-weight: 500;

        background-color: $primary;
        color: #fff;

        border-radius: 0.5rem;
        padding: 12px 70px;
    }
}