$white: #ffffff;

$primary: #3369f3;
$primary-blured: #e4edfd;

$secondary: #999999;
$secondary-blured: #efefef;

$separator-color: #eaeaea;
$box-shadow: rgba(0, 0, 0, 0.14);
$modal-blur: rgba(0, 0, 0, 0.4);

$text-color: #1e1e1e;
$error-color: #ff0000;

$chats-list-bg: #fbfbfb;
$message-bg: #f8f8f8;

$input-color: #1e1e1e;
