$white: #FFFFFF;

$primary: #3369F3;
$primary-blured: #E4EDFD;

$secondary: #999999;
$secondary-blured: #EFEFEF;

$separator-color: #EAEAEA;
$box-shadow: rgba(0, 0, 0, 0.14);
$modal-blur: rgba(0, 0, 0, 0.4);

$text-color: #1E1E1E;
$error-color: #FF0000;

$chats-list-bg: #FBFBFB;
$message-bg: #F8F8F8;

$input-color: #1E1E1E;
