---
title: "Chats"
css:
    - ../components/chat-search/chat-search.scss
    - ../components/chat-item/chat-item.scss
    - ../styles/chats.scss
---
{{!< base}}

<div class="chat-page">
    <section class="chat-page__list">
        <div class="chat-page__list-header">
            <a class="chat-page__profile-link" href="./profile.hbs">
                Profile
                <img src="../assets/icons/chevron-right.svg" />
            </a>
            {{> chat-search/chat-search}}
        </div>
        <ul class="chat-list">
            {{#each chats}}
                {{> chat-item/chat-item}}
            {{/each}}
        </ul>
    </section>
    <section class="chat-page__plug">
        <p>
            Select a chat to send a message
        </p>
    </section>
</div>
