---
title: "Index Page"
---
{{!< base}}

<section class="pages">
    <a href="../pages/register.hbs">Registration page</a>
    <a href="../pages/signin.hbs">Sign In page</a>
    <a href="../pages/chats.hbs">Chats</a>
    <a href="../pages/404.hbs">404</a>
    <a href="../pages/500.hbs">500</a>
</section>


