---
title: "Sign In"
css:
  - ../components/form-input/form-input.scss
  - ../components/link/link.scss
---
{{!< base}}

<form class="form box form--signin">
  <h1 class="form__title">Sign in</h1>
  <div class="form__content">
    <section class="form__inputs">
      {{> form-input/form-input placeholder="Enter the username"}}
      {{> form-input/form-input placeholder="Enter the password"}}
    </section>
    <section class="form__buttons">
      {{> link/link text="Sign in" primary="1" href="./chat.hbs"}}
      {{> link/link text="U don't have an account yet?" href="./register.hbs"}}
    </section>
  </div>
</form>

