@import "/static/assets/styles/variables.scss";

.chat-page__search {
    border: 0;
    border-radius: 5px;
    background-color: $secondary-blured;

    width: 100%;

    font-size: 12px;
    line-height: 12;

    height: 32px;
    padding: 10px 12px;

    margin-bottom: 14px;
}
